{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/translation.js' %}"></script>
</head>
<body>
    <div class="container" id="content">
        <h2>Welcome to Spotify Wrapped!</h2>
        <p>You are logged in as {{ user.username }}</p>

        <p>To access your Spotify Wrap data, please log in to your Spotify account:</p>

        <button onclick="window.location.href='{% url 'spotify_login' %}';">Log in with Spotify</button>

        <div class="button-container">
            <!-- Logout form -->
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
            </form>

            <!-- Profile button -->
            <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
        </div>
          <div class="language-selection">
            <label for="lang">Select Language:</label>
            <select name="languages" id="lang" onchange="changeLanguage(this.value)">
              <option value="">--Select a language--</option>
              <option value="en">English</option>
              <option value="ko">한국어</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="de">Deutsch</option>
            </select>
          </div>
    </div>

    <script>
        function changeLanguage(langCode) {
          if (langCode) {
            setLanguage(langCode);
          }
        }
      </script>
</body>
</html>
