{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% trans "Landing" %}</title>
  <link rel='stylesheet' href="{% static 'register/landing.css' %}" >
</head>

<template>

</template>

<div class="header">
  <h1>{% trans "Spotify Wrapper" %}</h1>

</div>
<body>
    <header>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language">
                <option value="ko">한국어</option>
                <option value="en">English</option>
            </select>
            <button type="submit">Change Language</button>
        </form>
    </header>
    <div class="text">
        <h2> {% trans "This website allows you to view your past music history through creative slide shows" %}</h2>
        <h2> {% trans "If you do not have an account, register with the button below" %}</h2>
        <button class = "button" onclick="location.href='/register/register'">{% trans "Register" %}</button>
        <h2> {% trans "If you have an account you can login with your username and password below" %}</h2>
        <button class = "button" onclick="location.href='/register/login'">{% trans "Login" %}</button>
    </div>
</body>



</html>