{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Reset Your Password" %}</title>
    <link rel="stylesheet" href="{% static 'register/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% trans "Reset your password" %}</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="new_password1">{% trans "New Password:" %}</label>
            <input type="password" name="new_password1" id="new_password1" required>

            <label for="new_password2">{% trans "Confirm Password:" %}</label>
            <input type="password" name="new_password2" id="new_password2" required>

            <button type="submit">{% trans "Reset Password" %}</button>
        </form>
    </div>
</body>
</html>