{% extends 'register/base.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}

{% block extra_css %}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 90%;
        padding: 20px;
        background-color: var(--container-bg-light);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    body.dark-mode .container {
        background-color: var(--container-bg-dark);
    }

    h2 {
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        color: var(--text-color-light);
        margin-top: 10px;
    }

    body.dark-mode p {
        color: var(--text-color-dark);
    }

    .btn-link {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 14px;
        margin-top: 20px;
        display: inline-block;
    }

    .btn-link:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="content">
    <h2>Password reset link sent!</h2>
    <p>Please check your email for the password reset link.</p>
    <a href="{% url 'login' %}" class="btn-link">Back to Login</a>
</div>
{% endblock %}
