{% extends 'register/base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block extra_css %}
<style>
    .container {
        max-width: 400px;
        margin: 40px auto;
        padding: 20px;
        background-color: var(--container-bg-light);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, color 0.3s ease;
        text-align: center;
    }

    body.dark-mode .container {
        background-color: var(--container-bg-dark);
    }

    h2 {
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        color: var(--text-color-light);
        margin-top: 10px;
    }

    body.dark-mode p {
        color: var(--text-color-dark);
    }

    .btn-link {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }

    .btn-link:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="content">
    <h2>Password reset complete</h2>
    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}" class="btn-link">log in</a>.</p>
</div>
{% endblock %}
