/* Existing styles */

body {
  background: white url("images/Spotify Landing BG.png");
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', sans-serif;
}

.header {
  color: #121212;
  background-color: #1DB954;
  padding: 30px;
  font-size: 30px;
}

.button {
  background-color: rgb(29, 185, 84);
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
}

h2 {
  font-size: 18px;
  padding: 15px 25px;
}

.text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
  margin: 3% 22%;
  border-radius: 25px;
}

/* Language Selection Styles */
.language-selection {
  margin: 20px;
}

.language-selection label {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.language-selection select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #1DB954;
  color: white;
}

.language-selection select option {
  color: black; /* Text color of the options */
}

.language-selection select:focus {
  outline: none;
}