{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/translation.js' %}"></script>
</head>
<body>
    <h2>Analysis of Your Spotify Wrap</h2>

    {% if wrap %}
    <h3>Wrap Details:</h3>
    <p>Year: {{ wrap.year }}</p>
    <ul>
      {% for track in wrap.data.tracks %}
        <li>{{ track.name }} by {{ track.artists.0.name }}</li>
      {% endfor %}
    </ul>

    <h3>Listener Personality Analysis:</h3>
    <p>{{ description }}</p>
    {% else %}
        <p>No Wrap data available for analysis. Please listen to more music to generate a Spotify Wrap!</p>
    {% endif %}

    <a href="{% url 'view_wraps' %}">Back to Your Wraps</a>
</body>
</html>