{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wraps Dashboard</title>
  <link rel='stylesheet' href="{% static 'wrap/dashboard.css' %}" >
</head>

<div class="banner">
  <div class="dashboard">
    Wraps Dashboard
  </div>
  <div class="user">
    User
  </div>
</div>

<body>
  <h1> Your Wraps: </h1>
  <div class="Wrap">
    <div class="WrapTemp">
      <h2>Wrap Name</h2>
      <button class="viewBTN" onclick="location.href='/register/view_wraps'"> View </button>
      <button class="deleteBTN"> Delete </button>
    </div>
    <div class="WrapTemp">
      <h2> Wrap Name </h2>
      <button class="viewBTN" onclick="location.href='/register/view_wraps'"> View </button>
      <button class="deleteBTN"> Delete </button>
    </div>
  </div>
  <button class="createBTN"> Create </button>
</body>
</html>