{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ wrap.name }} - Spotify Wrap Details</title>
    <link rel="stylesheet" href="{% static 'wrap/wrap_detail.css' %}">
    <script src="{% static 'js/translation.js' %}"></script>
</head>
<body>
    <div class="wrap-detail" id="content">
        <h1>{{ wrap.name }} - Details</h1>
        <p><strong>Theme:</strong> {{ wrap.theme }}</p>
        <p><strong>Year:</strong> {{ wrap.year }}</p>
        <p><strong>Created At:</strong> {{ wrap.created_at }}</p>

        <h2>Top Tracks</h2>
        <ul>
            {% for track in top_tracks %}
                <li>
                    <strong>{{ track.name }}</strong>
                    by {{ track.artists.0.name }}
                    (Duration: {{ track.formatted_duration }})
                </li>
            {% empty %}
                <li>No tracks available for this wrap.</li>
            {% endfor %}
        </ul>

        <h2>Top Artists</h2>
        <ul>
            {% for artist in top_artists %}
                <li>{{ artist }}</li>
            {% empty %}
                <li>No artists available for this wrap.</li>
            {% endfor %}
        </ul>

        <h2>Top Genres</h2>
        <ul>
            {% for genre in top_genres %}
                <li>{{ genre.genre }} (Count: {{ genre.count }})</li>
            {% empty %}
                <li>No genres available for this wrap.</li>
            {% endfor %}
        </ul>

        <h2>Total Minutes Listened</h2>
        <p>{{ total_mins_listened }} minutes</p>


        <div class="action-buttons">
            <a href="{% url 'view_wraps' %}">Back to List</a>
            <form action="{% url 'delete_wrap' wrap.wrap_id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete Wrap</button>
            </form>
        </div>
    </div>
</body>
</html>
