{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Wrap</title>
    <link rel="stylesheet" href="{% static 'wrap/your_wrap.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <script src="{% static 'js/translation.js' %}"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        const token = "{{ token }}";
    </script>

</head>
<body>
{% if spotify_wrap.theme == 'none' %}
    <div class="mySlides" id="one">
        <div class='slideOneStar'>
            <img src='{% static "wrap/images/StarS1.png" %}' class="star" alt="star">
            <div class='StarWord'>You Have Been a Part of Spotify For a Long Time</div>
            <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        </div>
        <div class="share-buttons">
            <button onclick="downloadImage('one')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="two">
        <div class="planets">
            <img src='{% static "wrap/images/Planets.png" %}' alt="planets" class="planet">
            <div class="planetsContent">
                You have listened to: {{ user_data.total_mins_listened }} minutes
            </div>
            <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        </div>
        <div class="share-buttons">
            <button onclick="downloadImage('two')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="three">
        Over This Time You Have Listened to a Large Variety
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('three')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="four">
        Your Top Genres Are:
        <ol>
            {% for genre in user_data.top_genres %}
                <li>{{ genre.genre }}</li>
            {% endfor %}
        </ol>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="ship">
            <img src='{% static "wrap/images/shipSlide.png" %}' alt="ship">
        </div>
        <div class="share-buttons">
            <button onclick="downloadImage('four')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="five">
        <div class="fiveContent">
            <span>Throughout </span>
            <span>these </span>
            <span>Genres </span>
            <span>a </span>
            <span>Few </span>
            <span>Artists </span>
            <span>Have </span>
            <span>Made </span>
            <span>Their </span>
            <span>Impact </span>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('five')">Download as Image</button>
        </div>

    </div>

    <div class="mySlides" id="six">
        Your Favorite Artists Are:
        <ol>
            {% for artist in user_data.top_artists %}
                <li>{{ artist }}</li>
            {% endfor %}
        </ol>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="ship">
            <img src='{% static "wrap/images/shipSlide.png" %}' alt="ship">
        </div>
        <div class="share-buttons">
            <button onclick="downloadImage('six')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="seven">
        <div class="sevenContent">
            <p>Now Here Are a Few Songs You Can't Stop Listening to:</p>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('seven')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="eight">
        <div class="track-list">
            {% for track in user_data.top_tracks %}
                <div class="track-item">{{ track }}</div>
            {% endfor %}
        </div>
        <div class="eightContent">
            <p>Your Top Songs Are:</p>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('eight')">Download as Image</button>
        </div>

    </div>

    <div class="mySlides" id="last">
        <div class="lastContent">
            Return to Dashboard:
            <a href="{% url 'view_wraps' %}">
                <button type="button" class="returnBTN"> Return </button>
            </a>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('last')">Download as Image</button>
        </div>
    </div>
{% elif spotify_wrap.theme == "christmas" %}
    <div class="mySlides" id="oneC">
        <div class="OneCcontent">
            You Have Been a Part of Spotify For a Long Time
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('oneC')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="twoC">
        <div class="TwoCcontent">
            You have listened to: <br>{{ user_data.total_mins_listened }} minutes
        </div>

        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('twoC')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="threeC">
        <p>Over This Time You Have <br>Listened to a Large Variety</p>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('threeC')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="fourC">
        <p>Top Genres Are:</p>
        <ol>

            {% for genre in user_data.top_genres %}
                <li>{{ genre.genre }}</li>
            {% endfor %}
        </ol>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('fourC')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="fiveC">
        <div class="FiveCcontent">
            Through These Genres a Few Artists <br>Have Made Their Impact
        </div>

        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('fiveC')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="sixC">
        <div class="SixCcontent">
            Your Favorite Artists Are:
            <ol>
                {% for artist in user_data.top_artists %}
                    <li>{{ artist }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('sixC')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="sevenC">
        <p>Now Here Are a Few Songs <br>You Can't Stop Listening to:</p>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('sevenC')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="eightC">
        <p>Your Top Songs Are:</p>
        <ol>
            {% for track in user_data.top_tracks %}
                <li>{{ track }}</li>
            {% endfor %}
        </ol>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('eightC')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="lastC">
        <p>Return to Dashboard:</p>
        <a href="{% url 'view_wraps' %}">
            <button type="button" class="returnBTN_C">Return</button>
        </a>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('lastC')">Download as Image</button>
        </div>
    </div>
{% else %}
    <div class="mySlides" id="oneH">
        <p>You Have Been a Part of<br> Spotify For a Long Time</p>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('oneH')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="twoH">
        <div class="TwoHcontent">
            You have listened to:<br> {{ user_data.total_mins_listened }} minutes
        </div>

        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('twoH')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="threeH">
        <p>Over This Time You Have<br> Listened to a Large Variety</p>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('threeH')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="fourH">
        <div class="FourHcontent">
            Top Genres Are:
            <ol>

                {% for genre in user_data.top_genres %}
                    <li>{{ genre.genre }}</li>
                {% endfor %}

            </ol>
        </div>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('fourH')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="fiveH">
        <p>Through These Genres a Few Artists<br> Have Made Their Impact</p>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('fiveH')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="sixH">
        <p>Your Favorite Artists Are:</p>
        <ol>
            {% for artist in user_data.top_artists %}
                <li>{{ artist }}</li>
            {% endfor %}
        </ol>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('sixH')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="sevenH">
        <div class="SevenHcontent">
            Now Here Are a Few Songs You<br> Can't Stop Listening to:
        </div>

        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('sevenH')">Download as Image</button>
        </div>
    </div>


    <div class="mySlides" id="eightH">
        <div class="EightHcontent">
            Your Top Songs Are:
            <ol>
                {% for track in user_data.top_tracks %}
                    <li>{{ track }}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('eightH')">Download as Image</button>
        </div>
    </div>

    <div class="mySlides" id="lastH">
        <p>Return to Dashboard:</p>
        <a href="{% url 'view_wraps' %}">
            <button type="button" class="returnBTN"> Return </button>
        </a>
        <div class="spotify-player" id="track-{{ forloop.counter }}"></div>
        <div class="share-buttons">
            <button onclick="downloadImage('lastH')">Download as Image</button>
        </div>
    </div>
{% endif %}




  <script>

    let trackUris = [];
    let tracksFetched = false;  // Flag to check if tracks have been fetched
    setInterval(() => plusDivs(1), 5000);

    let slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
        let i;
        const x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
            console.log("Reached the last slide. Stopping slideshow.");
            return;  // Stop the function if it goes beyond the last slide
        }
        if (n > x.length) slideIndex = 1;
        if (n < 1) slideIndex = x.length;
        if (!tracksFetched) {
            getRandomTracks();  // Fetch tracks synchronously
        }
        setTimeout(() => {

        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";

        // Play the corresponding track

        const randomNumber = Math.floor(Math.random() * trackUris.length);
        console.log("len:" + trackUris.length)
        const trackUri = String(trackUris[randomNumber]);
        const device_id = sessionStorage.getItem('spotifyDeviceId');
        playTrack(token,device_id,trackUri);
        }, 800);
    }
    function getRandomTracks() {
        fetch('https://api.spotify.com/v1/me/top/tracks?limit=50', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,
            },
        })
        .then(response => response.json())  // Get JSON response
        .then(data => {
            const tracks = data.items;
            trackUris = tracks.filter(track => track.duration_ms > 90000)
                          .map(track => track.uri);
            tracksFetched = true;  // Set the flag to true once tracks are fetched

        })
        .catch(error => {
            console.error('Error fetching top tracks:', error);
        });
    }

    function downloadImage(slideId) {
        const slideElement = document.getElementById(slideId);
        html2canvas(slideElement).then(canvas => {
            const link = document.createElement('a');
            link.download = `${slideId}.png`;
            link.href = canvas.toDataURL('image/png');
            link.click();
        });
    }

    // Utility to get CSRF token for Django
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    /*
    // Upload image to Twitter
    function uploadToTwitter(slideId) {
        const slideElement = document.getElementById(slideId);
        html2canvas(slideElement).then(canvas => {
            const imageData = canvas.toDataURL("image/png"); // Convert slide to Base64
            fetch("/upload-to-twitter/", { // Django endpoint
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"), // CSRF Token for Django
                },
                body: JSON.stringify({
                    image: imageData, // Base64 image data
                    text: "Check out my Spotify Wrapped!" // Optional tweet text
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Shared successfully on Twitter!");
                } else {
                    alert(`Error: ${data.error}`);
                }
            })
            .catch(err => console.error("Twitter upload error:", err));
        });
    }


    // Upload image to LinkedIn
    function uploadToLinkedIn(slideId) {
        const slideElement = document.getElementById(slideId);
        html2canvas(slideElement).then(canvas => {
            const imageData = canvas.toDataURL("image/png"); // Convert slide to Base64
            fetch("/upload-to-linkedin/", { // Django endpoint
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"), // CSRF Token for Django
                },
                body: JSON.stringify({
                    image: imageData, // Base64 image data
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Shared successfully on LinkedIn!");
                } else {
                    alert(`Error: ${data.error}`);
                }
            })
            .catch(err => console.error("LinkedIn upload error:", err));
        });
    }
    */
 window.onSpotifyWebPlaybackSDKReady = () => {
        const token = "{{ token }}";  // Pass the access token from Django template
        const player = new Spotify.Player({
            name: 'Web Playback SDK',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });

        // Listen for the 'ready' event when the player is ready
        player.addListener('ready', ({ device_id }) => {
            // Save the device ID for later playback
            sessionStorage.setItem('spotifyDeviceId', device_id);
        });

        // Listen for the 'not_ready' event when the player is disconnected
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        // Connect the player
        player.connect();
    };

    // Play a track using the Web API
function playTrack(token, device_id, trackUri) {
    const startPosition = 55000;  // Start at 55 seconds (55,000 ms)
    fetch(`https://api.spotify.com/v1/me/player/play?device_id=${device_id}`, {
        method: 'PUT',
        body: JSON.stringify({
            uris: [trackUri],
            position_ms: startPosition  // Set the position to start at 55 seconds
        }),
        headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json',
        },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to play track');
        }
    })
    .catch(error => console.error(error));
}

  </script>

</body>
</html>